.container-header {
    padding: 30px 50px;
    background-color: white;

    .row-header {
        display: flex;
        justify-content: space-between;
        color: #666;

        .col-1-row {
            img {
                height: 28px;
                margin-top: 7px;
            }

            h1 {
                line-height: 2.5rem;
                font-weight: 700;
                font-size: 34px;
            }
        }

        .col-2-row {
            column-gap: 75px;

            p:hover {
                cursor: pointer;
                transition: 0.5s;
                transform: translateY(-10px);
            }

        }

        .col-3-row {

            display: flex;
            column-gap: 10px;

            .img-svg {
                color: #666;
                background-color: white;
            }
        }
    }
}